/*font design*/

.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*common style*/
.dark3{
    color: #727272;         
}
.bg-light{
    background-color: bisque;
 }
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 5px;
}
/*nav*/

nav{
    display: flex;
   align-items:center;
    justify-content: space-between;
    margin:0px auto;
    max-width: 1440px;
}
.nav-tittle{
    font-weight: bold;
    font-size: 45;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
.head{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}
.header-tittle{
    font-weight: bold;
    font-size:64px;
    align-items: center
    
 
}
.header-description{
    font-weight:;
    font-size: 16px;
}
.image{
    max-width: 1440px;
    margin: 15px auto;
    
}
/*main part*/
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 300px;

}
.photos img{
   
}
.photos{
    width: 50%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.head{
    margin-left: 73px;
    max-width: 530px;

}
.description{
    font-size: 45px;

}
.span1{
    color:#727272 ;
   font-weight: 600;
}
.span2{
    color: black;
    font-weight: bold;
}
.span3{
    color: #FD6E0A;
    font-weight: bold;
}
.main-container2{
    display: flex;
    margin: 107px 145px 280px 220px;
    gap: 140px
    ;
}

#fima-border{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.fima{
    font-weight: bold;
    font-size: 45px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.box1{
    border: none;
    padding: 10px 10px;
    box-shadow: oldlace 5px ;
}
#Experience-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#Experience-year{
    font-weight: bold;
    font-size: 65px;
}
/* facts */
.class{
    margin: 110px 200px;
}
.section-tittle{
    font-weight: bold;
    font-size: 45px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 250px;
}
.fs{
    
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 55px 36px;
}
.fact-number{
    font-weight: 600;
    font-size:2.8rem ;
}
.fact-name{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/*sponsor related style*/
.section-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 50px 200px;
}
.sponsor-company img {
    filter: grayscale(100%);
}
/*responsive*/
@media screen and (max-width: 576) {
    .nav , .nav ul {
        flex-direction: column;
    }
    
}
